<div class = 'container'>
  <h1>Transit Tardiness</h1>
<br>
  <div class="row">
    <div class="column">
      <%= link_to 'Schools', schools_path, class: 'button', style: 'width: 180px;color: white' %><br>
      <%= link_to 'Students', students_path, class: 'button', style: 'width: 180px;color: white' %><br>
      <%= link_to 'Metrocards', metrocards_path, class: 'button', style: 'width: 180px;color: white' %><br>
      <%= link_to 'Rides', rides_path, class: 'button', style: 'width: 180px;color: white' %><br>
      <%= link_to 'School ID Cards', studentcards_path, class: 'button', style: 'width: 180px; color: white' %><br>
      <%= link_to 'School Swipes', swipes_path, class: 'button', style: 'width: 180px;color: white' %><br>
    </div>
    <div class="column">.column</div>
  </div>
</div>
