<div class = 'container'>
  <h1>Transit Tardiness</h1>
  <div class="row">
    <div class="column column-20"></div>
    <div class="column">
      <br>
      <%= link_to 'Schools', schools_path, class: 'button', style: 'width: 180px;color: white' %><br>
      <%= link_to 'Students', students_path, class: 'button', style: 'width: 180px;color: white' %><br>
      <%= link_to 'Metrocards', metrocards_path, class: 'button', style: 'width: 180px;color: white' %><br>
      <%= link_to 'Rides', rides_path, class: 'button', style: 'width: 180px;color: white' %><br>
      <%= link_to 'School ID Cards', studentcards_path, class: 'button', style: 'width: 180px; color: white' %><br>
      <%= link_to 'School Swipes', swipes_path, class: 'button', style: 'width: 180px;color: white' %><br>
    </div>
    <div class="column" style = 'font-family: "Lato"'>
      <% line_num=0 %>
    <%  text=File.open('mta.txt').read %>
    <%  text.each_line do |line| %><br>
    <div class="row">
      <div class="column-10">
        <%= line.split(" ")[0] %>
      </div>
      <div class="column" style = 'text-align: left'>
        <%= line.split(" ")[1] %> <%= line.split(" ")[2] %>
      </div>
    </div>
    <%  end %>
    </div>
  </div>
</div>
