<p id="notice"><%= notice %></p>

<h1>Swipe Ids</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @swipe_ids.each do |swipe_id| %>
      <tr>
        <td><%= swipe_id.student %></td>
        <td><%= swipe_id.time %></td>
        <td><%= link_to 'Show', swipe_id %></td>
        <td><%= link_to 'Edit', edit_swipe_id_path(swipe_id) %></td>
        <td><%= link_to 'Destroy', swipe_id, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Swipe', new_swipe_id_path %>
