<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @transit.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transit.status %>
</p>

<%= link_to 'Edit', edit_transit_path(@transit) %> |
<%= link_to 'Back', transits_path %>
