<p id="notice"><%= notice %></p>

<p>
 <strong>Studentcard:</strong>
 <%= @swipe.studentcard %>
</p>

<p>
 <strong>Time:</strong>
 <%= @swipe.time %>
</p>
<p>
 <strong>Status:</strong>
 <% student = Student.find_by(student_uuid: @swipe.studentcard.student.student_uuid) %>
 <% lines=student.lines%>
 <% last_metro_swipe=student.rides.last.created_at%>

 <%= student.name %>
 <%= student.rides %>
 <%= student.rides.last %>
  last<%= last_metro_swipe %>
 <%= lines %>
<%= last_metro_swipe %>
<% school=School.find_by(id: student.school_id)%>
 <% school_start= school.start_time %>
 <% leave_by= school_start-student.time_to_school %>
 <%=school%>
 <%=school_start%>
 <%=leave_by%>
 <%message="on time"%>
 <%=time1 = @swipe.time %>
 <%=time2 = school_start%>
 <br>
 <%=time1.minute %>
 <%=time2.minute %>
 <%%>
 <%=time_until = time2 - time1 %>
  <%=message%>

</p>

<%= link_to 'Edit', edit_swipe_path(@swipe) %> |
<%= link_to 'Back', swipes_path %>
