<p id="notice"><%= notice %></p>

<p>
 <strong>Studentcard:</strong>
 <%= @swipe.studentcard %>
</p>

<p>
 <strong>Time:</strong>
 <%= @swipe.time %>
</p>
<p>
 <strong>Status:</strong>
 <% student = Student.find_by(student_uuid: @swipe.studentcard.student.student_uuid) %>
 <% lines=student.lines%>
 <% last_metro_swipe=student.rides.last.created_at%>

 <%= student.name %>
 <%= student.rides %>
 <%= student.rides.last %>
  last<%= last_metro_swipe %>
 <%= lines %>
<%= last_metro_swipe %>
<% school=School.find_by(id: student.school_id)%>
 <% school_start= school.start_time %>
 <% leave_by= school_start-student.time_to_school %>
 <%=school%>
 <%=school_start%>
 <%=leave_by%>
 <%message="on time"%>
 <%=split1 = @swipe.time.to_s.split(":")%>
 <%=split2 = school_start.to_s.split(":")%>
 <%=time2 = school_start.to_s.split(":")[1].split(" ")[school_start.to_s.split(":")[1].split(" ").length-1].to_i*3600+school_start.to_s.split(":")[2]*60+ school_start.to_s.split(":")[3]%>
 <%=time2-time1%>
 <br>
  <%=message%>

</p>

<%= link_to 'Edit', edit_swipe_path(@swipe) %> |
<%= link_to 'Back', swipes_path %>
