<%= form_with(model: studentcard, local: true) do |form| %>
  <% if studentcard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(studentcard.errors.count, "error") %> prohibited this studentcard from being saved:</h2>

      <ul>
      <% studentcard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.select :student_id, options_from_collection_for_select(Student.all, :id, :name), class: 'dropdown' %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
