<%= form_with(model: ride, local: true) do |form| %>
  <% if ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ride.errors.count, "error") %> prohibited this ride from being saved:</h2>

      <ul>
      <% ride.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :time %>
    <%= form.datetime_select :time, id: :ride_time %>
  </div>

  <div class="field">
    <%= form.label :station %>
    <%= form.text_field :station, id: :ride_station %>
  </div>

  <div class="field">
    <%= form.label :metrocard_id %>
    <%= form.collection_select :metrocard_id, Metrocard.all, :id, :student_name, class: 'dropdown' %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
